#Python virtual environment
environment/
#Data and output files
in/
out/
#Python cache
__pycache__/
*.pyc
#Testing
checker.py
log.txt
workflow.txt
Neworkflow.txt
analysis/sql_practice.ipynb
scripts/get_termination.py
scripts/per_player.py
analysis/players.ipynb